<?xml version="1.0"?>
<model>
  <name>Scaniverse Large Classroom Area</name>
  <version>0.1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>realworld_sim</name>
  </author>
  <description>
    University indoor environment captured with Scaniverse LiDAR.
  </description>
</model>
